.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f7f7;
  padding: 2px 2px;
}

.navbar img {
  height: 30px;
}

.theme-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #4B6A9B; /* Light blue color */
  font-family: Space Mono;
  font-weight: 700;
  letter-spacing: 2.5px;
  line-height: 140%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.moon-icon {
  width: 20px;
  height: 20px;
  color: #4B6A9B; /* Light blue color */
  transform: scaleX(-1); /* Flips direction */
}

