.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f7f7;
  padding: 2px 2px;
}

.navbar img {
  height: 30px;
}

.theme-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #4e74ba; /* Light blue color */
  font-family: monospace;
  font-weight: bold;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Flips the moonicon horizontally */
.theme-btn span {
  display: inline-block;
  transform: scaleX(-1);
}

.moon-icon {
  width: 18px;
  height: 18px;
  color: #4d6ca5; /* Light blue color */
  transform: scaleX(-1); /* Flips direction */
}

